.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #fff;
  background-color: #003dae;
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}

.contained {
  color: #fff;
  background-color: #003dae;
}

.contained:hover {
  background-color: #004bd3;
}

.contained:focus,
.contained:focus-visible {
  outline: 2px dashed #000;
  background-color: #004bd3;
}

.outlined {
  border: 1px solid #003dae;
  color: #003dae;
  background-color: transparent;
}

.outlined:hover {
  border-color: #004bd3;
  background-color: rgba(0, 61, 174, 0.1);
}

.outlined:focus,
.outlined:focus-visible {
  outline: 2px dashed #000;
  background-color: rgba(0, 61, 174, 0.1);
}

.start-icon {
  margin-right: 8px;
}

.end-icon {
  margin-left: 8px;
}
